<div style="padding: 100px; height: 100%; box-sizing: border-box;">
  <mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-manager [fileNodes]="fileNodes | async" [currentPath]="currentPath" [canNavigateUp]="canNavigateUp" (folderAdded)="addFolder($event)"
      (fileNodeRemoved)="removeFileNode($event)" (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()" (fileNodeRenamed)="renameFileNode($event)"
      (fileNodeMoved)="moveFileNode($event)">
    </app-file-manager>
  </mat-card>
</div>

<router-outlet></router-outlet>
